@import "./variable";

body {
  max-width: 1440px;
  font-size: 16px;
  // background-image: url("#{$image-path}bg-tablet-pattern.svg");
  background-position: 50px 5%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  // padding-left: 20px;
  // padding-right: 20px;
}

* {
  font-family: "Be Vietnam";
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $dark-blue;
}

button,
input {
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: $padding-left-mobile;
  padding-right: $padding-right-mobile;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

button,
a {
  cursor: pointer;
}

ul {
  @include reset-list;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

blockquote {
  margin: 0;
}

section,
header,
footer {
  padding-left: $padding-left-mobile;
  padding-right: $padding-right-mobile;
}

.logo {
  margin: 0;
}

.logo_link {
  background-image: url("#{$image-path}logo.svg");
  display: block;
  width: 123px;
  height: 20px;
  background-size: contain;
  @include common-background-style;
}

.title {
  display: none;
}

.get__started--button {
  background-color: $bright-orange;
  color: $very-light-gray;
  box-shadow: 0px 5px 10px #f25f3a;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.paragraph {
  color: $dark-grayish-blue;
}

@media (min-width: $desktop) {
  section,
  header,
  footer {
    padding-left: $padding-left-desktop;
    padding-right: $padding-right-desktop;
  }
}
