@import "./variable";
.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.masthead__title {
    margin: 0;
  }
  
  .masthead__title--link {
    background-image: url("#{$image-path}logo.svg");
    display: block;
    width: 123px;
    height: 20px;
    background-size: contain;
    @include common-background-style;
  }

  .masthead__article--button {
    display: none;
  }