@import "./variable";
.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.masthead__article--button {
  display: none;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

@media (min-width: $desktop) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 77px;
  }

  .header__article {
    text-align: justify;
  }

  .header__article,
  .header__picture {
    flex-basis: 50%;
  }
}
