@import "./variable";

.section__testimony {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.testimony__card--image {
  max-width: 60px;
}

.testimony__card {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: $very-light-gray;
  position: relative;
  display: flex;
  flex-direction: column;
}

.testimony__card--image {
  position: absolute;
  top: -30px;
  left: calc(50% - calc(60px / 2));
}

.testimony__title {
  margin-bottom: 80px;
}
