// Mixin

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin common-background-style {
  background-repeat: no-repeat;
  text-indent: -9999px;
}

// Color

$bright-orange: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// Neutral

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

// Weight
$lighter: 300;
$regular: 400;
$bold: 700;

// Paddings
$padding-left-mobile: 20px;
$padding-right-mobile: 20px;
$padding-left-tablet: 50px;
$padding-right-tablet: 50px;
$padding-left-desktop: 100px;
$padding-right-desktop: 100px;

// Images and icons path
$image-path: "../images/";
$font-path: "../fonts/";

// Break point
$mobile: 300px;
$tablet: 600px;
$desktop: 800px;
